<div class="header__pagination">
  <span class="pagination_stripe_top"></span>
  <span class="pagination">00</span>
  <span class="pagination_stripe_bottom"></span>
</div>
<div class='title-vertically'>
  <h1 class='title__vrctl'>Qscar</h1>
</div>
<div class='title-horizontally'>
  <h1 class='title__hrtl'>Digital</h1>
</div>
<div class='content__text content__home'>
  <span>"<%= t('qscar.index.text_presentation_first') %> </span>
  <span> <%= t('qscar.index.awesome') %></span> 
  <span><%= t('qscar.index.text_presentation_last') %>"</span>
</div>
<%= render 'layouts/socialmedia' %>
