<div class="container">
  <div class="section" id="our_project">
    <%= render template: 'qscar/project' %>
  </div>
  <div class="section" id="our_price">
    <%= render template: 'qscar/price' %>
  </div>
  <div class="section" id="about_us">
    <%= render template: 'qscar/about' %>
  </div>
  <div class="section" id="contact_us">
    <%= render template: 'qscar/contact' %>
  </div>
</div>

