//FOOTER 

.footer{
  font-family: $font-raleway;
  display: flex; 
  justify-content: space-around;
  flex-flow: column wrap;
  @media #{$medium-up}{
    flex-flow: row nowrap;
  }
  .column{
    @media #{$medium-up}{
      padding: 3rem;
    }
    &span{
      padding: 5px 0; 
    }
    h3{
      text-align: center;
      font-size: 20px;
      letter-spacing: 0.1em;
    }
  }
  .column-contact-us{
    @media #{$medium-up} {
      flex-grow: 2;
    }
    .inner-column-contact-us{
      display: flex;
      justify-content: space-evenly;
      .left-panel, .right-panel{
        display: flex; 
        flex-direction: column;
        span{
          margin: 5px 0; 
        }
        i{
          font-size: 18px; 
          margin-right: 10px; 
          color: $grey-dark;
        }
        i:hover{
          color: $pink-orange;
        }
      }
    }
  }
  .column-follow-us{
    @media #{$medium-up} {
      flex-grow: 1;
    }
    ul{
      text-align: center;
      li{
        display: inline-flex;
        justify-content: center; 
        i{
          font-size: 1.5em;
          color: $grey-dark;
          &:hover{
            color: $pink-orange;
          }
        }
      }
    }
  }
}
.copyright{
  display: flex;
  padding: 10px;
  font-family: $font-raleway;
  color: $pink-orange;
  justify-content: center;
  span{
    margin-right: 10px;
    i{
      color: $pink-dark; 
      font-weight: bold; 
    }
  }
}