.header{
  display: flex;
  font-family: $font-raleway;
  //background-image: url('qscar_header.jpg');
  background-color: black;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  flex-flow: row wrap;
  .navbar{
    display: flex;
    width: 100%;
    height: 60px; 
    //background-color: rgba(234, 232, 220, 0.1); 
    background-color: rgba(12, 7, 7, 0.8);
    position: fixed; 
    z-index: 9999;
    nav{
      display: flex;
      width: 100%;
      .navbar__logo{
        display: flex;
        width: 250px; 
        a{
          color: $pink-dark;
          font-size: 2em;
          font-weight: 900;
          font-family: $font-raleway;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          text-decoration: none;
          line-height: 2;
          padding: 0 1.5em;
        }
      }
      .navbar__links{
        display: flex; 
        flex-direction: row; 
        flex: 1; 
        align-items:center; 
        margin: 0;
        @media #{$medium-up}{
          flex-direction: row; 
          justify-content: flex-end;
        } 
        li{
          @media #{$medium-up}{
            padding: .5rem 1.5rem 1rem 1.5rem;
          }
          color: $pink-dark;
          a{
            color: $pink-dark;
            text-decoration: none;
          }
          a::after{
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: $pink-dark;
            transition: width .3s;
          }
          a:hover::after{
            width: 100%;
          }
          .language{
            display: flex;
            a{
              margin: 0 .15em;
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
            }       
          }
        }
      }
    } 
  }
  
  .header_presentation{
    width: 100%;
    display: flex;
    margin: 6.250em 0;
    cursor: default;
    .header__pagination{
      display: flex;
      justify-content: center;
      width: calc((100% / 4) - 1em ); 
      min-height: 70vh;
      flex-direction: column;
      top: 30%; 
      .pagination_stripe{
        position: absolute;
        background-color: $sand;
        display: inline-block;
        width: 6.5rem;
        height: 1px;
        margin: 0 .4rem 0 0;
        vertical-align: top;
        transform: rotate(90deg); 
      }
      .pagination{
        color: transparent;
        -webkit-text-stroke: 2px $sand;
        opacity: 0.7;
        color: transparent;
        font-size: 15vw;
      }
    }
    .header__title{
      width: calc((100% / 4) - 1.5em ); 
      display: flex; 
      h1{
        font-weight: bolder;
        &.title-vertically{
          font-size: 5rem; 
          writing-mode: vertical-lr;
          transform: rotate(180deg);
          margin: auto;
          text-transform: uppercase;
          color: $sand;
          animation: 1.5s ease-out  1 onLaodTextVertically;
        }
        &.title-horizontally{
          font-size: 3em;
          animation: 1.5s ease-out  1 onLaodTextHorizontally;
        }
        @keyframes onLaodTextHorizontally {
          0%{
            transform: translateY(-150%);
          }
          100%{
            transform: translateY(0%);
          }
        }
        @keyframes onLaodTextVertically{
          0%{
            transform: translateY(-100%) rotate(180deg);
          }
          100%{
            transform: translateY(0%) rotate(180deg);
          }
        }
      }
    }
    
    .header__text{
      width: calc((100% / 4) - 1.5em ); 
      display: flex;
      justify-content: space-between; 
      p{
        display: flex;
        align-items: center;
        margin-left: -60px;
        color: $sand;
        font-size: 2em; 
        font-style: italic;
        letter-spacing: 0.1em;
      }
    }
    /*.pannel_right{
      display: flex;
      justify-content: flex-end;
      .header__img_right{
        display: flex; 
        width: 300px; 
        height: 400px;
        background-image: url('qscar_header.jpg');
        background-position: center;
        background-size: cover;
        .header__inner_img{
          margin: auto; 
          border: 2px solid $sand;
          width: 250px; 
          height: 350px; 
          align-items: center;
        }
      }
    }*/
    .header__draw_panel{
      position: absolute;
      right: 0;
      top: 3rem;
      .line_svg{
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        &.line_one{
          animation: 2s linear 0s forwards 1 dash; 
        } 
        &.line_two{
          animation: 2s linear 1s forwards 1 dash; 
        }
        &.line_three{
          animation: 2s linear 2s forwards 1 dash; 
        }
      }
      
      @keyframes dash{
        from {
          stroke-dashoffset: 1000;
        }
        to {
          stroke-dashoffset: 0;
        }
      }
    }
  }
  
  
  .header_bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    .bullet__one,
    .bullet__two,
    .bullet__three{
      display: block;
      content: ""; 
      background-color: $pink-light;
      align-items: center;
      margin: auto; 
    }
    .bullet__one{
      margin-top: -70px;
      height: 10px; 
      width: 10px; 
      border-radius: 10px; 
    }
    .bullet__two{
      margin-top: -40px;
      height: 12px; 
      width: 12px; 
      border-radius: 12px; 
    }
    .bullet__three{
      margin-top: -40px;
      height: 14px; 
      width: 14px; 
      border-radius: 14px; 
    }
  }
}