.header{
  display: grid;
  height: 70px; 
  .nav{
    .nav__line{
      width:100vw;
      display:flex;
      justify-content: space-between;
      position: fixed;
      z-index:9999;
      .navbar__logo{
        display: flex;
        margin-left: 20px;
        margin-top: 20px;
        img{
          width: 50px;
        }
      }
      .burger{
        cursor:pointer; 
        width:30px; 
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        margin: 25px;
        overflow: visible;
        position: relative;
        z-index:2;
        span{
          &.spline{
            display: flex;
            position: absolute;
            flex-direction: row;
            width:30px;
            transition: 0.5s;
            &:nth-child(1){
              width:50%;
              left: 0; 
              top: 10px;
              border-top: 2px solid $pink-light;
            }
            &:nth-child(2){
              width:100%;
              top: 20px;
              border-top: 2px solid $pink-orange;
            }
            &:nth-child(3){
              width:50%;
              right: 0; 
              top: 30px;
              border-top: 2px solid $pink-dark;
            }
          }
        }
        &:hover{
          span.spline:nth-child(1),
          span.spline:nth-child(3){
            width: 100%;
          }
        }
      }
    }
  }
  .navbar{
    nav{
      position:fixed;
      display:flex;
      justify-content: center;
      width:100%;
      flex-direction: column;
      right:-100%;
      min-height:100vh;
      top: auto;
      &.visible{
        z-index:99;
        background-color:rgba(0, 0, 0, 1);
        animation: 1.5s slideLeft ease-in 1 forwards;
      }
      &.notVisible{
        background-color:rgba(0, 0, 0, 0.9);
        animation: 1s slideRight ease-out 1 forwards;
      }
      @keyframes slideLeft{
        from{
          right: -100%;
          opacity: 0; 
        }
        to{
          right: 0%; 
          opacity: 1; 
        }
      }
      @keyframes slideRight{
        from{
          right: 0%; 
          opacity:1;
        }
        to{
          right: -100%;
          opacity: 0;
        }
      }
      .navbar__links{
        display: flex; 
        flex-direction: column; 
        flex: 1; 
        align-items:center; 
        margin: 0;
        @media #{$medium-up}{
          justify-content: center;
        }
        ul{
          padding-top: 4em;
        }
        li{
          width: 300px;
          span{
            justify-content: center; 
            display: flex; 
            font-size: 2.5em;
            flex-direction: row;
          }
          span::before,
          span::after{
            content:"";
            border-top: 1px solid $pink-dark;
            flex: 1 1;
            margin: auto;
          }
          .section_grp{
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
              margin-left:10px ;
              width: 25px;
              height: 20px;
              transition-duration: 0.3s;
              transform: rotate(-45deg);
              transition-timing-function: ease-out;
            }
          }
          .section_grp:hover svg{
            transform: rotate(0deg);
          }
          @media #{$medium-up}{
            padding: .5rem 1.5rem 1rem 1.5rem;
          }
          color: $pink-dark;
          a{
            color: $pink-dark;
            text-decoration: none;
          }
          .language{
            display: flex;
            a{
              margin: 0 .15em;
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
            }       
          }
        }
      }
    } 
  }
}