@import "font-awesome";

body{
  margin: 0;
  padding: 0;
  width: 100%;
}
input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
li{
  list-style: none; 
}
.container{
  @media #{$small-only} {
  }
  width:90%;
  margin: auto; 
  margin-bottom: 2rem;
  height: 100%;
  margin-top: -60px;
  background-color: white;
  opacity: 0.9;
  box-shadow: 0 15px 15px -3px #8E8D8A;
  border-radius: 10px; 
  /*background:
    linear-gradient(115deg, transparent 89%, #e8ddcb  0) -53px -21px,
    linear-gradient(-115deg, #cdb380 11%, transparent 0) -53px 129px,
    linear-gradient(-115deg, transparent 89%, #036564 0) 97px -21px,
    linear-gradient(115deg, #033649 11%, transparent 0) 97px 129px; 
  background-color: #fff;
  background-size: 150px 150px;
  background-repeat: repeat;*/
  .section{
    height: 200px;
    .title{
      display: flex;
      color: $grey-dark;
      font-family: $font-roboto;
      justify-content: center;
      padding-top: 2rem; 
      font-size: 20px;
      letter-spacing: 0.1em;
      margin-bottom: 30px;
      &:before, 
      &:after{
        display: block; 
        content: "";
        flex: 1; 
        align-self: center;
        border-bottom: 1px solid currentColor; 
      }
      span{
        margin: 0 20px; 
      }
    }
  }

  .section:nth-child(3){
    height:100%;
    padding-bottom: 30px; 
    background: linear-gradient(270deg, $pink-light, $sand, $grey-light);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    @keyframes AnimationName { 
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
    @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
    .panel{
      &.panel_right{
        .form{
          padding: 0 15px; 
          margin: auto; 
          width: 60%;
          position: relative; 
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }
        .form:before, .form:after{
          content:"";
          position:absolute; 
          z-index:-1;
          box-shadow:0 0 20px rgba(0,0,0,0.8);
          top:10px;
          bottom:10px;
          left:0;
          right:0;
          border-radius:100px / 10px;
        }
        .form:after{
            right:10px; 
            left:auto; 
            transform:skew(8deg) rotate(3deg);
        }
      }
    }
  }

  .section{
    margin-bottom: 2rem;
    height: 100%;
    .content_about{
      display: flex;
      flex-direction: column-reverse;
      margin: 3em 0; 
      &.second{
        @media #{$small-only}{
          flex-direction: column;
        }
      }
      @media #{$medium-up}{
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
    .text_content:not(.para_3){
      text-align: center; 
      font-family: $font-raleway; 
      color: $grey-dark; 
    }
    .text_content.para_1{
      margin: auto; 
      width: 18.750em;
      padding-top: 1rem;
      @media #{$medium-up}{
        margin: auto 10px;
        padding-top: 0; 
      }
    }
    .content_img.img_profile{
      @media #{$small-only}{
        display: flex;
        justify-content: center;
        margin: auto;
      }
      border: 2px solid $sand;
      height: 10rem;
      width: 10rem;
      overflow: hidden;
      transform-origin: 50% 50%;
      .cadre{
        width: 14.375rem;
        height: 12.5rem; 
      }
      .picture_face{
        width: 100%;
        height: auto;
      }
      @media #{$medium-up} {
        overflow: hidden;
        -webkit-box-shadow: 0 10px 10px -3px $grey-dark;
        -moz-box-shadow: 0 10px 10px -3px $grey-dark;
        box-shadow: 0 10px 10px -3px $grey-dark;
        transform: rotate(45deg);
        .cadre{
          width: 14.375rem;
          height: 12.5rem;
          transform: rotate(-45deg) translateY(-60px) translate(-20px);
          &.prfl_d{
            transform: rotate(-45deg) translateY(-50px) translate(0px);
          }
        }
        .picture_face{
          width: 100%;
          height: auto;
        }
      } 
    }
    .content_img.grid_img{
      width: 80%;
      display: flex; 
      margin: 2.5rem auto;
      padding: .5rem;
      flex-direction: column; 
      @media #{$medium-up}{
        flex-direction: row;
        justify-content: space-around;
      }
      .img{
        margin: auto;
        border: 1px solid $sand;
        width: 200px ;
        height: 200px; 
        background-image: url('blur-business.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        box-shadow: 0 10px 10px -3px $grey-dark;
        &:hover{
          border: 1px solid $grey-dark;
          box-shadow: 0 15px 15px -3px $grey-dark;
        }
      }
    }
    .discover_more{
      span.btn{
        display: flex;
        justify-content: center;
        width: 200px;
        a{
          font-family: "Raleway", sans-serif;
          color: #D8C3A5;
          font-weight: bold;
          letter-spacing: 1px;
        }
      }
    }
  }
}
.check-done{
  display:flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  align-content: center;
  padding: 0 20px;
  text-align: center;
  ul{
    /*margin: 20px auto;
    display: flex;
    flex-direction: column;
    text-align: center;*/
    @media #{$medium-up}{
      flex-direction: row;
    } 
    li{
      margin: 0.5rem 0;
      display: inline-flex;
      justify-content: space-between;
      justify-items: center;
      font-family: $font-roboto;
      box-shadow:0 0 10px rgba(0,0,0,0.3);
      background-color: $sand;
      padding: 10px 25px; 
      color: white; 
      @media #{$medium-up}{

      }
    }
  }
}

.icon{
  display: flex;
  justify-content: center; 
  @media #{$medium-up}{
    flex-direction: row; 
  }
  svg{
    height: 200px;
  }
  .website{
    fill: $grey-dark;
    transition: 0.3s;
  }
  .inner_icon{
    text-align: center;
    &:hover .website{
      fill: $pink-dark;
    }
  }
  .explain_icon{
    @media #{$medium-up}{
      margin-top: -50px; 
    }
  }
}

.category{
  display: flex; 
  justify-content: center;
  margin: 30px auto;
  width: calc(100% - 10rem);
  .inner_category{
    width: 100%; 
  }
  .header_category{
    display: inline-flex;
    flex-direction: column; 
    width: 100%; 
    border: 1px solid $light-gray;
    margin-bottom: 15px; 
    @media #{$medium-up}{
      flex-direction: row; 
    }
    .title_head{
      flex-grow: 1;
      border-bottom: 1px solid transparent;
      transition: 0.4s;
      &:focus,
      &:hover{
        color: $pink-dark;
        border-bottom: 1px solid $pink-dark;
        transition: 0.8s;
      }
    }
    .title_head span{
      padding: 1rem;
      display: flex;
      color: $grey-dark;
      letter-spacing: 0.1em;
      justify-content: center;
      cursor: pointer;
      &:focus,
      &:hover{
        color: $pink-dark;
        //border-bottom: 1px solid $pink-dark;
      }
    }
  }
  .content_category{
    width: 100%;
    .innner_content_category{
      display: flex;
      li span{
        width: 20px; 
        height: 20px; 
        background-image: url('qscar_Check.svg');
        display: inline-flex;
        padding: 5px;
        margin: 0.4rem; 
      }
      p{
        font-size: 16px; 
      }
      h5{
        text-align: center; 
        padding: 1.5rem;
        font-family: $font-raleway;
      }
      .content_from{
        border: 1px solide $grey-light;
        display: flex; 
        justify-content: flex-end; 
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        width: 100%;
        .price {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          text-align: center;
          width: 200px;
        }
        .price:hover{
          &:after {
            left: 120%;
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
        .btn-price{
          overflow: hidden;
          position: relative;
          padding: 0.7rem 1.5rem; 
          border: 1px solid $pink-dark;
          &:after {
            background: red;
            content: "";
            height: 155px;
            left: -75px;
            opacity: 0.2;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
            z-index: -10;
          }
          span{
            font-weight: bolder;
            font-style: italic; 
            text-transform: uppercase; 
            color: $pink-dark; 
            font-size: large;
            z-index: 20;
          }
        }
      }
    }
  }
}

