@import "font-awesome";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
li{
  list-style: none; 
}
a{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Raleway";
}
.container{
  width:100vw;
  height: 100vh;
  background-image: radial-gradient(circle, rgb(41, 41, 41) 5%, rgb(27, 26, 26) 20%, rgb(23, 22, 22) 70%);
  background-size: cover;
  background-position: center;
  .wrapper{
    display: grid; 
    section{
      display: grid;
      grid-template-columns: 50px 70px 1fr;
      grid-template-rows:50px 1fr 50px;
      min-height: 90vh;
      width: 100vw;
      padding-top: 1.5em;
      margin-top: 70px;
      @media #{$medium-up}{
        grid-template-columns: 100px 100px 1fr;
        grid-template-rows:50px 1fr 50px;
      }
      &.our_project,
      &.our_price,
      &.about_us,
      &.contact_us{
        opacity: 0;
        display: none;
      }
      &.home{
        h1{
          &.title__vrctl{
            animation: 1.5s ease-out 1 onLaodTextVertically;
          }
          &.title__hrtl{
            animation: 1.7s ease-out  1 onLaodTextHorizontally;
          }
        }
        @keyframes onLaodTextVertically{
          0%{
            transform: translateY(-100%) rotate(180deg);
          }
          100%{
            transform: translateY(0%) rotate(180deg);
          }
        }
        @keyframes onLaodTextHorizontally {
          0%{
            transform: translateY(-150%);
          }
          100%{
            transform: translateY(0%);
          }
        }
      }
      &.home,
      &.our_project, 
      &.our_price,
      &.about_us,
      &.contact_us{
        position: absolute;
      }
      .header__pagination{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        .pagination_stripe_bottom, 
        .pagination_stripe_top{
          background-color: $sand;
          display: inline-block;
          height: 1px;
          vertical-align: top;
          transform: rotate(90deg);
          position: relative;
          background-color: #D8C3A5;
          width: 8rem;
        }
        .pagination{
          color: transparent;
          -webkit-text-stroke: 2px $sand;
          opacity: 0.7;
          color: transparent;
          font-size: 6vw;
          margin: 0;
        }
      }
      .title-vertically{
        grid-column: 2 / 3;
        grid-row: 1 / 3;
      }
      .title-horizontally{
        grid-column: 3 / -1;
        grid-row: 1 / 2;
        display: flex;
        align-items: center; 
      }
      h1{
        font-weight: bolder;
        z-index: 10; 
        margin: 0; 
        &.title__vrctl{
          font-size: 2.5em; 
          writing-mode: vertical-lr;
          transform: rotate(180deg);
          text-transform: uppercase;
          color: $sand;
          letter-spacing: 1em;
          line-height: 1.7; 
          padding-bottom: 50px;
        }
      }
      @media #{$medium-up}{
        h1{
          &.title__vrctl{
            letter-spacing: 0;
            font-size: 3em;
            letter-spacing: 1.2em;
            margin: auto;
          }
        }
      }
      .content__text{
        grid-column: 3 / -1;
        grid-row: 2 / 3;
        &.content__project{
          display: flex;
          @mixin material-shadow() {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
          }
          .open-qscar-services{
            border: 0;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            font-size: 12px;
            height: 40px;
            width: 120px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -20px;
            margin-left: -60px;
          }
          .qscar-services{
            @include material-shadow();
            background-color: transparent;
            border-radius: 0;
            display: none;
            flex-direction: column;
            flex: 0 0 auto;
            font-size: 14px;
            height: 400px;
            overflow: hidden;
            transition: opacity 0.4s $bezier, transform 0.4s $bezier, box-shadow 0.4s $bezier;
            width: 95%;
            &.show {
              display: flex;
              opacity: 0;
            }
            &.reveal{
              opacity: 1;
              top: 0;
              border: none; 
              z-index: 0; 
            }
            .qscar-services-body{
              align-items: center;
              display: flex;
              flex: 1;
              text-align: center;
              justify-content: center;
              .prev-screen,
              .next-screen{
                align-self: stretch;
                background: none;
                border: 0;
                color: rgba($pink-orange, 0.25);
                cursor: pointer;
                flex: 0 0 auto;
                font-size: 24px;
                opacity: 1;
                outline: none;
                padding: 10px;
                transform: scale(1);
                transition: transform 0.4s $bezier, color 0.4s $bezier, opacity 0.4s $bezier;
                &:hover,
                &:active{
                  color: $pink-orange;
                  transform-origin: center;
                  transform: scale(1.25);
                }
                &:disabled{
                  opacity: 0;
                }
              }
              .prev-screen{
                order: 1;
              }
              .next-screen{
                order: 3;
              }
              .screens{
                flex: 1;
                align-self: stretch;
                position: relative;
                margin: 0 -16px;
                padding: 0;
                order: 2;
                .screen{
                  position: absolute;
                  list-style-type: none;
                }
              }
              .media{
                background: rgba($pink-orange, 0.5);
                border-radius: 100px;
                height: 100px;
                margin: 32px auto;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                &hover >svg{
                  fill: $pink-orange;
                }
                &>svg{
                  fill: $grey-dark;
                  transition: 0.3s;
                }
              }
              h3{
                font-size: 15px;
                line-height: 1.4em;
                text-transform: uppercase;
                letter-spacing: 0.15em;
              }
              p{
                line-height: 1.6em;
                font-size: 14px;
                margin-top: 16px;
                padding-top: 0;
                color: rgba(white, 0.9);
              }
            }
            .qscar-services-pagination {
              align-items: center;
              display: flex;
              justify-content: center;
              margin-top: 24px;
              .dot {
                background: rgba($pink-light, 0.25);
                border-radius: 8px;
                height: 8px;
                margin: 0 4px;
                transform: scale(0.75);
                transition: transform 0.4s $bezier, background 0.4s $bezier;
                width: 8px;
                &.active {
                  background: $pink-orange;
                  transform: scale(1);
                  transition-delay: 0.4s;
                }
              }
            }
            //Animation styles
            .screens {
              margin: 0;
              .media {
                .status-badge {
                  left: 136px;
                  opacity: 0;
                  position: absolute;
                  top: 104px;
                  transform: scale(0);
                  transition: opacity 0.4s $bezier, transform 0.4s $bezier;
                  transition-delay: 0.6s;
                  i {
                    display: inline;
                  }
                }
                &.media_creativity {
                  .media_creativity {
                    margin-top: 20px;
                    opacity: 0;
                    transform: translateY(-60px);
                    transition: opacity 0.4s $bezier, transform 0.4s $bezier;
                    width: 80px;
                  }
                }
                .icon {
                  position: absolute;
                  opacity: 0;
                  transform: translateY(-30px);
                  transition: opacity 0.4s $bezier, transform 0.4s $bezier;
                  width: 132px;
                  left: 48px;
                  top: 32px;
                }
                &.media_seo {
                  .icon {
                    transform: translate(40px, 20px);
                    &:nth-of-type(2) {
                      transform: scale(0.25);
                      transform-origin: 30% 54%;
                    }
                    &:nth-of-type(3) {
                      transform: scale(0.25);
                      transform-origin: 30% 40%;
                    }
                    &:nth-of-type(4) {
                      transform: scale(0.25);
                      transform-origin: 30% 26%;
                    }
                  }
                }
                &.media_advice {
                  .icon {
                    transform: translate(40px, 20px);
                  }
                }
                &.media_hebergement{
                  .icon {
                    transform: scale(0.25);
                    transform-origin: 29% 73%;
                    &:nth-child(2) {
                    transform-origin: 66% 85%;
                    }
                  }
                }
              }
              .screen {
                opacity: 0;
                position: absolute;
                /*transform: translateX(-72px);*/
                transition: all 0.4s $bezier;
                &.active {
                  opacity: 1;
                  transform: translateX(0) scale(1);
                  transition-delay: 0.4s;    
                 ~ .screen {
                    opacity: 0;
                    transform: translateX(72px);
                  }
                  .media {
                    .status-badge {
                      opacity: 1;
                      transform: scale(1.75);
                    }
                    &.media_creativity{
                      .media_creativity {
                        opacity: 0.8;
                        transform: translateY(0);
                        transition-delay: 0.6s;
                      }
                      .status-badge {
                        transition-delay: 1s;
                      }
                    }
                    &.media_webdev {
                      .icon {
                        opacity: 1;
                        transform: translateY(0);
                        transition-delay: 0.6s;
                        &:nth-child(2) {
                          transition-delay: 0.725s;
                        }
                        &:nth-child(3) {
                          transition-delay: 0.850s;
                        }
                      }
                      .status-badge {
                        transition-delay: 1.4s;
                      }
                    }
                    &.media_seo {
                      .icon {
                        opacity: 1;
                        transform: translate(0) scale(1);
                        transition-delay: 0.6s;
                        &:nth-child(2) {
                          transition-delay: 1.050s;
                        }
                        &:nth-child(3) {
                          transition-delay: 0.925s;
                        }
                        &:nth-child(4) {
                          transition-delay: 0.8s;
                        }
                      }
                    }
                    &.media_advice {
                      .icon {
                        opacity: 1;
                        transform: translateY(0);
                        transition-delay: 0.9s;
                        &:nth-child(3) {
                          transition-delay: 0.8s;
                        }
                        &:nth-child(2) {
                          transition-delay: 0.7s;
                        }
                        &:nth-child(1) {
                          transition-delay: 0.6s;
                        }
                      }
                      .status-badge {
                        transition-delay: 1.6s;
                      }
                    }
                    &.media_hebergement {
                      .icon {
                        opacity: 1;
                        transform: scale(1);
                        transition-delay: 0.6s;
                        &:nth-child(2) {
                          transition-delay: 0.8s;
                        }
                      }
                      .status-badge {
                        transition-delay: 1.6s;
                      }
                    }
                  }
                }
              }
            }
          } 
        }
        @media #{$medium-up}{
          .content__project{
            align-items: center;
          }
          .qscar-services{
            width: 65%;
            margin: auto; 
            .media{
              border-radius: 150px;
              height: 150px;
              width: 150px;
            }
          }
        }
        &.content__home{
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          span{
            display: flex;
            color: $sand;
            font-size: 1em; 
            font-style: italic;
            width: 100%; 
            &:nth-child(2){
              color: $pink-orange;
              font-weight: bold; 
              letter-spacing: 0.3em;
              font-size: 1.2em;
              animation-name: textOpacity;
              animation-duration: 3s;
              justify-content: center;
            }
            &:nth-child(3){
              justify-content: end;
              padding-right: 20px;
            }
          }
          @media #{$medium-up}{
            flex-direction: row;
            justify-content: center;
            align-items: center;
            span{
              font-size: 1.8em;
              &:nth-child(1){
                justify-content: start;
              }
              &:nth-child(2){
                font-size: 3em;
                justify-content: center;
              }
              &:nth-child(3){
                justify-content: start;
              }
            }
          }
          @keyframes textOpacity{
            0%{
              transform: scale(0.1);
              opacity: 0;
            }
            70%{
              transform: scale(1.1);
            }
            100%{
              transform: scale(1);
              opacity: 1;
            }
          }
        }
      }
      .header_bottom{
        grid-column: 1 / 5;
        grid-row: 3 / -1;
        .social_media{
          display: flex; 
          flex-direction: row; 
          justify-content: flex-end;
          margin-right: 30px;
          &::before{
            display: flex;
            content: "";
            height: 1px;
            max-width: 150px;
            color: $grey-dark;
            flex: 1;
            align-self: center;
            border-bottom: 1px solid currentColor;
          }
          li.social_media_link{
            padding: 0 0.5rem; 
            font-size: 20px; 
          }
        }
      }
    }
  }
}

  section:nth-child(5){
    height:100%;
    padding-bottom: 30px; 
    background: linear-gradient(270deg, $pink-light, $sand, $grey-light);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    @keyframes AnimationName { 
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
    @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
    .panel{
      &.panel_right{
        .form{
          padding: 0 15px; 
          margin: auto; 
          width: 60%;
          position: relative; 
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        }
        .form:before, .form:after{
          content:"";
          position:absolute; 
          z-index:-1;
          box-shadow:0 0 20px rgba(0,0,0,0.8);
          top:10px;
          bottom:10px;
          left:0;
          right:0;
          border-radius:100px / 10px;
        }
        .form:after{
          right:10px; 
          left:auto; 
          transform:skew(8deg) rotate(3deg);
        }
      }
    }
  }

  .content_presentation{
    display: flex;
    width: 100%;
    flex-direction: column-reverse; 
    @media #{$medium-up}{
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
    .text_content{
      width: 50%;
    }
    .content_img.img_profile{
      @media #{$small-only}{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      animation: 3s linear 1s 1 profileImg;
        @keyframes profileImg{
          0%{
            opacity: 0;
          }
          100%{
            opacity: 1;
          }
        }
      border: 2px solid $sand;
      height: 10rem;
      width: 10rem;
      overflow: hidden;
      transform-origin: 50% 50%;
      .cadre{
        width: 14.375rem;
        height: 12.5rem; 
      }
      .picture_face{
        width: 100%;
        height: auto;
      }
      @media #{$medium-up} {
        overflow: hidden;
        -webkit-box-shadow: 0 10px 10px -3px $grey-dark;
        -moz-box-shadow: 0 10px 10px -3px $grey-dark;
        box-shadow: 0 10px 10px -3px $grey-dark;
        transform: rotate(45deg);
        .cadre{
          width: 14.375rem;
          height: 12.5rem;
          transform: rotate(-45deg) translateY(-60px) translate(-20px);
          &.prfl_d{
            transform: rotate(-45deg) translateY(-50px) translate(0px);
          }
        }
        .picture_face{
          width: 100%;
          height: auto;
        }
      } 
    }
    .content_img.grid_img{
      width: 80%;
      display: flex; 
      margin: 2.5rem auto;
      padding: .5rem;
      flex-direction: column; 
      @media #{$medium-up}{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
      .img{
        margin: auto;
        border: 1px solid $sand;
        width: 200px ;
        height: 200px; 
        background-image: url('blur-business.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        box-shadow: 0 10px 10px -3px $bezier;
        &:hover{
          border: 1px solid $grey-dark;
          box-shadow: 0 15px 15px -3px $bezier;
        }
      }
    }
  }
.content__category{
  .inner_category{
    width: 100%; 
  }
  .header_category{
    display: inline-flex;
    flex-direction: column; 
    width: 100%;
    margin-bottom: 15px; 
    @media #{$medium-up}{
      flex-direction: row; 
      margin-bottom: 0;
    }
    .title_head{
      flex-grow: 1;
      border-bottom: 1px solid transparent;
      transition: 0.4s;
      &:focus,
      &:hover, 
      &:visited{
        color: $pink-dark;
        border-bottom: 1px solid $pink-dark;
        transition: 0.8s;
      }
    }
    .title_head span{
      padding: 0 1rem;
      display: flex;
      color: $grey-dark;
      letter-spacing: 0.1em;
      justify-content: center;
      cursor: pointer;
      &:focus,
      &:hover, 
      &:visited{
        color: $pink-dark;
      }
    }
  }
  .content_category{
    width: 100%;
    .innner_content_category{
      display: flex;
      min-height: 450px;
      h5{
        margin-bottom: 0; 
        color: $pink-dark;
      }
      .inner_content{
        p{
          width: 100%; 
        }
        display:flex;
        flex-direction: column;
      & >*{
        padding: 10px;
        flex: 1 100%;
        }
      }
      li span{
        width: 20px; 
        height: 20px; 
        background-image: url('qscar_Check.svg');
        display: inline-flex;
        padding: 5px;
        margin: 0 0.4rem; 
      }
      p{
        font-size: 14px; 
      }
      h5{
        text-align: center; 
        padding: 1.5rem;
        font-family: $font-raleway;
      }
      .content_from{
        border: 1px solide $grey-light;
        display: flex; 
        justify-content: flex-end;
        height: 100%;
        text-align: center;
        width: 100%;
        .price {
          display: flex;
          height: 100%;
          justify-content: center;
          text-align: center;
          width: 200px;
        }
        .price:hover{
          &:after {
            left: 120%;
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
        .btn-price{
          overflow: hidden;
          position: relative;
          padding: 0.7rem 1.5rem; 
          border: 1px solid $pink-dark;
          &:after {
            content: "";
            height: 155px;
            left: -75px;
            opacity: 0.2;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
            z-index: -10;
          }
          span{
            font-weight: bolder;
            font-style: italic; 
            text-transform: uppercase; 
            color: $pink-dark;
            z-index: 20;
          }
        }
      }
    }
    @media #{$medium-up}{
      .inner_content{
        flex-direction: row;
        flex-flow: row wrap;
        & >*{
          padding: 0; 
        }
      }
      h5{
        padding: 0; 
      }
    }
  }
  .discover_more{
    display: flex;
    span.btn{
      display: flex;
      justify-content: center;
      width: 250px;
      a{
        font-family: "Raleway", sans-serif;
        color: #D8C3A5;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
  }
}
// Animation on svg
.advice{
  &.adv_3{
    animation: infiniteMoove 3s 2s ease infinite;
  }
  &.adv_4,
  &.adv_5{
    animation: infiniteMoove 2s 5s ease infinite;
  }
  @keyframes infiniteMoove{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  @keyframes infiniteRotate{
    0% { stroke-dashoffset: 1060;}
    100% { stroke-dashoffset: 0;}
  }
}