<h3>hello <%= @user.username %>!</h3>

<p>Merci pour ton inscription! Afin de valider, cliques sur ce lien: 
  <a href="<%= confirm_user_url( id: @user.id, token: @user.confirmation_token, locale: I18n.locale ) %>">confirmation</a>
</p>

<p>Bonne journée! </p>