<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>From: <%= @message.email %></h1>
    <h2>Name: <%= @message.name %></h2>
    <h2>Content:</h2>
    <p>
      <%= @message.body %>
    </p>
  </body>
</html>