<div class="footer">
  <div class="column column-contact-us">
    <h3><%= t('qscar.footer.me_contacter') %></h3>
    <div class="inner-column-contact-us">
      <div class="left-panel">
        <span><i class="far fa-user-circle"></i>Cindy Jacob</span>
        <span><i class="fas fa-phone-volume"></i><a href="tel:+32495925410 ">+32 495 92 54 10  </a></span>
        <span><i class="fas fa-envelope-open-text"></i><%= mail_to "info@qscar.be" %>
      </div>
      <div class="right-panel">
        <span><i class="far fa-user-circle"></i>Dennis Burssens</span>
        <span><i class="fas fa-phone-volume"></i><a href="tel:+32499758959">+32 499 75 89 59 </a></span>
        <span><i class="fas fa-envelope-open-text"></i><%= mail_to "info@qscar.be" %>
      </div>
    </div>  
  </div>
  <div class="column column-follow-us">
    <h3><%= t('qscar.footer.follow') %></h3>
    <ul>
      <li><a href=""><i class="fab fa-linkedin"></i></a></li>
      <li><a href="https://twitter.com/QscarDigital"><i class="fab fa-twitter-square"></i></a></li>
      <li><a href="https://www.instagram.com/qscar_digital/"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </div>
</div>
