<div class="footer">
  <div class="column column-contact-us">
    <h3><%= t('me_contacter') %></h3>
    <div class="inner-column-contact-us">
      <div class="left-panel">
        <span><i class="far fa-user-circle"></i>Cindy Jacob</span>
        <span><i class="fas fa-phone-volume"></i>+32 495 92 54 10 </span>
      </div>
      <div class="right-panel">
        <span><i class="far fa-user-circle"></i>Dennis Burssens</span>
        </i><span><i class="fas fa-phone-volume"></i>+32 499 75 89 59 </span>
      </div>
    </div>  
  </div>
  <div class="column column-follow-us">
    <h3><%= t('follow') %></h3>
    <ul>
      <li><a href=""><i class="fab fa-linkedin"></i></a></li>
      <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
    </ul>
  </div>
</div>
<div class="copyright">
  Copyright 2019 Qscar
  <p>With <i class="far fa-heart"></i> by Qscar </p>
</div>