<div class="header_bottom">
  <ul class="social_media">
    <li class="social_media_link"><a href="https://www.linkedin.com/company/qscar" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li class="social_media_link"><a href="https://www.twitter.com/QscarDigital" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
    <li class="social_media_link"><a href="https://www.facebook.com/QscarDigital" target="_blank"><i class="fab fa-facebook"></i></a></li>
    <li class="social_media_link"><a href="https://www.instagram.com/qscar_digital/" target="_blank"><i class="fab fa-instagram"></i></a></li>
  </ul>
</div>